/* Version 20 */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#version {
	text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
}
#coorBox {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
#coordinates {
	text-align: center;
	text-transform: uppercase;
    font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
#latC, #longC, #latD, #longD, #heading {
	text-transform: lowercase;
	font-weight: normal;
}
#map {
	display: none;
	height: 20%;
}